body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://cdn.hipwallpaper.com/i/18/93/wBXSjT.jpg);
	overflow: hidden;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1373%26quot%3b)' fill='none'%3e%3crect width='1440' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M102 1080L1182 0L1839 0L759 1080z' fill='url(%23SvgjsLinearGradient1374)'%3e%3c/path%3e%3cpath d='M1295 1080L215 0L-970 0L110 1080z' fill='url(%23SvgjsLinearGradient1375)'%3e%3c/path%3e%3cpath d='M841.762126372544 1080L1440 481.762126372544L1440 1080z' fill='url(%23SvgjsLinearGradient1374)'%3e%3c/path%3e%3cpath d='M0 1080L598.237873627456 1080L 0 481.762126372544z' fill='url(%23SvgjsLinearGradient1375)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1373'%3e%3crect width='1440' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1374'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.7)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.7)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1375'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.7)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.7)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-size: 250%;
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #FF0000;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 1.5s ease;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 270px;
    border-color: #ffc400ec;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #FF0000;
	background: #FF0000;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #ffc400ec;
	border: 3px solid #ffc400ec;
}